extend default

block content
  .ui.hidden.divider
  .ui.center.aligned.container
    h1.ui.header #{title}
    h3.ui.header Maybe you took a wrong turn? This page doesn't seem to exist...
    a(href="/") Return Home