extends default

block content
  div#Content
    div#Banner
      div.text-center#bannerText
        h1#bannerTitle Grayson Doshier
        h4#bannerTag Software Engineer, Student, Hobbyist
    div.container.pt-4.pb-1#About
      h3 About Me
      p
        | I am a college student pursuing a degree in computer science.
        | Computers and electronics have been a passion of mine for a long time, which led me to chase the dream of becoming a software engineer.
        | All of my time is devoted to learning more about everything that I can.
        | While the majority of my skills were taught to me by a professor, I have also taught myself many differnt things.
        | Overall I seek out knowledge wherever I can, about whatever I can find; nothing is out of reach for me.
    div.pt-4.pb-1.Gray#Software
      div.container
        h3 Software
        p
          | I am professioally trained in C++ and C through my university which is reflected in some of my personal projects.
          | I have, however, taught myself how to use multiple other languages including Java, Javascript, HTML, CSS, PHP, and Python.
          | All of my software from 2019 onwards is hosted on my Github page.
          | To view my code in more depth visit my Software section 
          a.plainLink(href="/software") here.
    div.pt-4.pb-1.container#Hobbies
      h3 Hobbies
      p
        | My personal time consists of many things, but it's mostly programming.
        | I run a YouTube channel in my spare time making content focusing mainly on video games.
        | Sometimes I will make a video detailing and demonstrating projects that I'm currently working on.
        | In those videos I explain the process that I went through designing, developing, and testing my code.
      p
        | In conjunction with YouTube, I also stream games on Twitch occasionally.
        | I enjoy livestreaming as it gives me a chance to interact with viewers live, giving them a chance to influence my choices.
        | Streaming is something that I do fairly rarely, but the streams usally last for at least an hour.
