extends default

block headers
  link(rel='stylesheet', type='text/css', href='../css/home.css')

block content
  // Header and Navigation
  .ui.inverted.vertical.masthead.center.aligned.segment#Top
    .ui.container
      .ui.large.inverted.labeled.pointing.secondary.menu
        a.item.active
          i.home.icon
          | Home
        a.item
          i.code.icon
          | Experience
        a.item
          i.github.icon
          | Projects
    .ui.text.container
      h1.ui.header.inverted A Header!
      h2 Header 2 Electric Boogaloo

  //- Spacer
  .ui.hidden.divider

  // Experience Section
  .ui.container
    h2.ui.horizontal.divider.header
      i.code.icon
      | Experience

  //- Spacer
  .ui.hidden.divider

  // Projects Section
  .ui.container
    h2.ui.horizontal.divider.header
      i.github.icon
      | Projects

  //- Spacer
  .ui.hidden.divider

  // Footer
  .ui.inverted.vertical.segment
    .ui.container
      .ui.stackable.inverted.divided.equal.height.grid.center.aligned
        .five.wide.column
          h4.ui.inverted.header Made with NodeJS and Express
          p Find the source code for this page on 
            a(href="https://github.com/RetroJect/Website/") GitHub
        .five.wide.column
          h4.ui.inverted.header Created by Grayson Doshier
          .ui.center.aligned.container
            a(href="https://github.com/RetroJect/")
              i.large.link.circular.github.icon
            a(href="https://github.com/RetroJect/")
              i.large.link.circular.linkedin.icon
            a(href="https://github.com/RetroJect/")
              i.large.link.circular.twitter.icon
            a(href="https://github.com/RetroJect/")
              i.large.link.circular.youtube.icon
            a(href="https://github.com/RetroJect/")
              i.large.link.circular.twitch.icon
        .three.wide.column
          button.ui.blue.inverted.labeled.icon.button(href='#Top')
            i.angle.double.up.icon
            | To The Top