extends default

block content
  div.container
    h1 Software
    p
      | Below you can find a list of all of my repositories on GitHub.
      | These are all personal projects that I make open source as I'm developing them.
    hr
    div.d-flex.justify-content-between
      - var repositories = JSON.parse(repos);
      - var reads = JSON.parse(readmes);
      each repo,index in repositories
        div.m-2.w-5.shadow.p-2.gitcard
          h4
            a.plainLink(href=repo.html_url, target="_blank")= repo.name
          p 
            | "
            = repo.description
            | "
            br
            | Main Language: 
            = repo.language
            br
            | Last Commit: 
            - var update = new Date(repo.updated_at);
            = update.toDateString()
            br
            | Size (MB): 
            = repo.size
          h6 README.md
          div.git.p-2
            != reads[index]
    hr
    p
      | The main point of my GitHub projects are just for fun.
      | Sometimes I create something to reach some goal, but other times it's just to make something.
      | If you are interested in a project just click on it's name and you'll be redirected to GitHub.
