#navImg {
  height: 2em;
  width: auto;
}

#Content {
  margin-top: 66px;
}

#Banner {
  background-image: url('../images/banner.jpg');
  /*
  Image Copyright: Sweet Jean Photography, Sacramento, CA
  Website: https://www.sweetjeanphotography.com/
  */
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 0px 0px 35px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 35px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 35px 0px rgba(0,0,0,0.75);
}

#bannerText {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  color: white;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  padding: 1em;
}

#bannerTitle {
  text-decoration: underline;
}

#bannerTag {
  font-style: italic;
}

.Gray {
  color: white;
  background-color: #636363;
}

.plainLink {
  color: inherit;
}

.plainLink:hover {
  color: inherit;
}

.loader {
  margin: auto;
  width: 90px;
  height: 90px;
}

.git {
  height: 550px;
  overflow: auto;
  color: black;
  background-color: white;
  border-radius: 5px;
}

.w-5 {
  max-width: 50%;
}

.gitcard {
  color: white;
  background-color: #7c7db6;
  border-radius: 8px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
